#app {
  overflow-x: hidden;
  font-weight: 300;
  background-color: white;
}

.page-container {
  --pageIndex: 0;
  display: flex;
}

.page {
  min-width: 100%;
  min-height: 100vh;     
  transform: translate(calc(var(--pageIndex) * -100% )); 
  transition-duration: 50ms;
}

.page-icons {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.page-icon {
  margin: 5px 3px 5px 3px;
  border-radius: 1em;
  width: 5px;
  height: 5px;
  border: 1px solid grey;
}

.page-icon.active {
  background-color: grey;
}

#battery > img {
  height: 0.9em;
}

.arrow {
  visibility: hidden;
  padding: 0px;
  width: 5px;
  height: 5px;
  margin: 1em;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  transform: rotate(45deg);
  transition-duration: 200ms;
  transition-property: visibility, transform;
}